  <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link " aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/facts">All Facts</a>
          <a class="nav-link" href="/facts/new">Add New Fact</a>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-3 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-bars" style="font-size: 28px;"></i>
                </a>
                <ul class="dropdown-menu">
                  <% if(!currUser){%>
                    <li><a class="dropdown-item" href="/signUp">Sign Up</a></li>
                    <li><a class="dropdown-item" href="/login">Login</a></li>
                  <%}%>
                  <% if(currUser){%>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                  <%}%>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>