
<% layout("/layout/boilerPlate.ejs")%>

<body>
    <h3>All facts</h3>
    
    <!-- <form method="GET" action="/facts/new">
        <button>Generate a new fact</button>
    </form> -->


    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1">
        <%for(let fact of allFacts){%>
            <a href="/facts/<%= fact._id%>" class="fact_link" style="width: 17.7rem;">
                <div class="card col fact-card">
                    <img src="<%= fact.related_img.url%>" class="card-img-top" alt="fact_img" style="height: 18rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                    <p class="card-text">
                        <b><%=fact.category%></b><br>
                        <%=fact.fact%>
                    </p>
                    </div>
                </div>
            </a>
        <%}%>
    </div>
</body>
