
<% layout("/layout/boilerPlate.ejs")%>

<body>
    <h3>All facts</h3>
    
    <!-- <form method="GET" action="/facts/new">
        <button>Generate a new fact</button>
    </form> -->
    <ul>
        <%for(let fact of allFacts){%>
            <li><a href="/facts/<%=fact._id%>"><p><%=fact.category%></p></a></li>
        <%}%>
    </ul>
</body>
