
<!-- <% layout("/layout/boilerPlate.ejs")%> -->

<body>
    <h2>Discover the awesome fact: </h2>
    <br>
    <form method="POST" action="/facts/create ">
        <div class="mb-3">
            <label for="facts" class="form-label">Fact: </label>
            <input type="text" id="facts" placeholder="short description about your facts" name="fact"  class="form-control">
        </div>

        <div class="mb-3">
            <label for="categorys" class="form-label">Category: </label>
            <input type="text" placeholder="define your category" name="category" id="categorys" class="form-control">
        </div>
       
        <div class="mb-3">
            <label for="sources" class="form-label">Source: </label>
            <input type="text" placeholder="source of your fact" name="source" id="sources" class="form-control">
        </div>
       
        <div class="mb-3">
            <label for="datas" class="form-label">Discovered data: </label>
            <textarea placeholder="describe your awesome fact" name="data" rows="3" cols="30" id="datas" class="form-control"></textarea>
        </div>
       
        <div class="mb-3">
            <label for="images" class="form-label">Related_Img: </label>
            <input type="text" id="images" placeholder="enter the image link" name="image" class="form-control">
        </div>
       
        <div class="mb-3">
            <label for="verifieds" class="form-label">Verified status: </label>
            <input type="text" id="verifieds" name="verified" placeholder="Is it verified or not" class="form-control">
        </div>
      
        <div class="mb-3">
            <label for="addedBys" class="form-label">Name of Knowledge Hunter: </label>
            <input type="text" id="addedBys" placeholder="enter the name of researcher" name="addedBy" class="form-control">
        </div>
       
        <div class="mb-3">
            <label for="creates" class="form-label">Date of discovery: </label>
            <input type="date" id="creates" name="created" class="form-control">
        </div>
    
        <div class="mb-3">
            <label for="updateds" class="form-label">Updated at: </label>
            <input type="date" id="updateds" name="updated" class="form-control">
        </div>
        <br><br>
        <button>Submit</button>
    </form>
</body>